<div id="<%= dom_id veterinario %>">
  <p>
    <strong>Nombre:</strong>
    <%= veterinario.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= veterinario.apellido %>
  </p>

  <p>
    <strong>Especialidad:</strong>
    <%= veterinario.especialidad %>
  </p>

</div>
