<div id="<%= dom_id medical_historial %>">
  <p>
    <strong>Hitorial medico:</strong>
    <%= medical_historial.hitorial_medico %>
  </p>

  <p>
    <strong>Notas:</strong>
    <%= medical_historial.notas %>
  </p>

  <p>
    <strong>Mascota:</strong>
    <%= medical_historial.mascota_id %>
  </p>

</div>
