<h1>Editing medical historial</h1>

<%= render "form", medical_historial: @medical_historial %>

<br>

<div>
  <%= link_to "Show this medical historial", @medical_historial %> |
  <%= link_to "Back to medical historials", medical_historials_path %>
</div>
