<div id="<%= dom_id registro_medico %>">
  <p>
    <strong>Historial medico:</strong>
    <%= registro_medico.historial_medico %>
  </p>

  <p>
    <strong>Notas:</strong>
    <%= registro_medico.notas %>
  </p>

  <p>
    <strong>Mascota:</strong>
    <%= registro_medico.mascota_id %>
  </p>

</div>
