<h1>Editing registro medico</h1>

<%= render "form", registro_medico: @registro_medico %>

<br>

<div>
  <%= link_to "Show this registro medico", @registro_medico %> |
  <%= link_to "Back to registro medicos", registro_medicos_path %>
</div>
