<h1>Registro medicos</h1>

<div id="registro_medicos">
  <% @registro_medicos.each do |registro_medico| %>
    <%= render registro_medico %>
    <p>
      <%= link_to "Show this registro medico", registro_medico %>
    </p>
  <% end %>
</div>

<%= link_to "New registro medico", new_registro_medico_path %>
<%== pagy_bootstrap_nav(@pagy) %>
